<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(account) -%>">
  <span class='title'>
    <%= account.subdomain %>
  </span>
  <span class='actions'>
    <%= action_icon(:edit,    refinery.edit_multisites_admin_multisites_account_path(account), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.multisites_admin_multisites_account_path(account), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: account.subdomain)}}  ) %>
  </span>
</li>
