<% content_for :body_content_title do %>
  <%= @multisite.test %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Test</h1>
    <p>
      <%=raw @multisite.test %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="multisites">
      <% @multisites.each do |multisite| %>
        <li>
          <%= link_to multisite.test, refinery.multisites_multisite_path(multisite) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
